@* Large Logo Partial View *@
<!-- Logo -->
<div class="flex justify-center mb-8">
    <a href="@Url.Action("Index", "Home")" class="cursor-pointer">
        <img src="~/images/Speed Crating logo NEW.png"
             class="w-40 h-auto object-contain hover:opacity-80 transition-opacity" />
    </a>
</div>